In [1]:
import geopandas as gpd
import pandas as pd
import glob, os
from shapely.geometry import Point
import sidetable

set directiry

In [2]:
g = os.getcwd()
g
path = 'D:\\repos\\CIAT\\IDB_PROJECT'
os.chdir(path)

read excel and check rows and cols

In [6]:
data_raw = pd.read_csv("Data_IDB/Panel_data_PATCA-DR-only_baseline.csv",encoding='LATIN-1' )
data_raw

,cuest_id_b,cuest_id,time,parcela,cultivo,temporary_crop,age,gender,superf_parcela_has,Y,...,provparcela_cod,munparcela_cod,month_siembra,year_siembra,since_siembra,month_harvest,year_harvest,VP_HA,treat_status_fu,patca
0,276,H0951,0. Baseline,11,pasto,0,45,Male,7.545599,19.528879,...,dajab√≥n,partido,no recuerda,1997,1997,NaN,NaN,0.000000,0. Pure Control,0
1,389,H1213,0. Baseline,11,mango,0,60,Male,1.697760,18.291666,...,peravia,villa fundacion,no recuerda,2004,2004,NaN,NaN,104.730957,0. Pure Control,0
2,393,H1217,0. Baseline,11,mango,0,56,Male,4.401599,18.229546,...,peravia,bani,abril,2009,2009,NaN,NaN,0.000000,0. Pure Control,0
3,466,H1200,0. Baseline,11,NaN,0,48,Male,2.483760,18.218817,...,peravia,bani,NaN,NaN,NaN,NaN,NaN,0.000000,0. Pure Control,0
4,481,H1214,0. Baseline,11,pasto,0,39,Male,5.973599,18.293560,...,peravia,villa fundacion,no recuerda,2000,2000,NaN,NaN,0.000000,0. Pure Control,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,4084,H1639,0. Baseline,11,arroz,1,64,Male,0.817440,18.729731,...,azua,padre las casas,mayo,2011,no recuerda,agosto,2011.0,2714.626709,1. Contaminated Control,0
629,4088,H1770,0. Baseline,11,guandul,1,40,Male,1.257600,18.534755,...,azua,azua,abril,2011,1980,noviembre,2011.0,746.522278,1. Contaminated Control,0
630,4111,H2022,0. Baseline,11,habichuela blanca,1,42,Male,2.515200,18.870944,...,san juan,las matas de farfan,noviembre,2011,1998,febrero,2012.0,1885.157227,2. Intended Beneficiaries,1
631,4111,H2022,0. Baseline,12,pasto,0,42,Male,1.886400,18.847534,...,san juan,las matas de farfan,no recuerda,1998,1998,NaN,NaN,1885.157227,2. Intended Beneficiaries,1
632,4114,H1463,0. Baseline,11,tomate industrial,1,67,Male,3.898560,18.431298,...,azua,azua,noviembre,2011,2011,enero,2012.0,14010.975586,0. Pure Control,0

In [40]:
Points = gpd.read_file("Data_IDB/new/Zona_influencia_DR.shp")
# print(Points.crs)
Points = Points.to_crs("EPSG:4326")
Points.columns

Index(['cuest_id_b', 'parcela', 'cultivo', 'temporary_', 'superf_par', 'Y',
       'X', 'patca', 'correccion', 'corregido', 'corregido2', 'area',
       'geometry'],
      dtype='object')

In [41]:
table = Points.stb.freq(['patca'])
table

   patca  count    percent  cumulative_count  cumulative_percent
0      0    248  65.782493               248           65.782493
1      1    129  34.217507               377          100.000000

In [8]:
# names = ['cuest_id_b', 'parcela', 'cultivo','temporary_crop', 'superf_parcela_has', 'Y', 'X', 'patca']
# names = ['patca']

# # making new data frame with dropped NA values 
# new_data = data_raw[names]
# new_data

,cuest_id_b,parcela,cultivo,temporary_crop,superf_parcela_has,Y,X,patca
0,276,11,pasto,0,7.545599,19.528879,-71.460136,0
1,389,11,mango,0,1.697760,18.291666,-70.325005,0
2,393,11,mango,0,4.401599,18.229546,-70.459127,0
3,466,11,NaN,0,2.483760,18.218817,-70.496776,0
4,481,11,pasto,0,5.973599,18.293560,-70.323998,0
...,...,...,...,...,...,...,...,...
628,4084,11,arroz,1,0.817440,18.729731,-70.961163,0
629,4088,11,guandul,1,1.257600,18.534755,-70.767221,0
630,4111,11,habichuela blanca,1,2.515200,18.870944,-71.566797,1
631,4111,12,pasto,0,1.886400,18.847534,-71.569126,1
632,4114,11,tomate industrial,1,3.898560,18.431298,-70.845022,0

In [15]:
cords_repY = new_data["Y"].value_counts()
cords_repY
# cords_repX = new_data["X"].value_counts()

19.396272    26
19.398208    21
18.754210     6
18.733993     5
18.713262     5
             ..
19.530600     1
19.565907     1
19.850727     1
19.390644     1
19.316800     1
Name: Y, Length: 435, dtype: int64

In [20]:
Y = cords_repY[cords_repY>1]
print(sum(Y))
print(Y)
# X = cords_repX[cords_repX>1]
Y = Y.index
299-105

299
19.396272    26
19.398208    21
18.754210     6
18.733993     5
18.713262     5
             ..
18.822064     2
18.483487     2
18.404163     2
18.523028     2
19.848061     2
Name: Y, Length: 105, dtype: int64

194

In [26]:
cords_repY
633-194-4

435

In [27]:
df = new_data
for i in Y:
    pos = new_data[new_data["Y"] == i].index
    pos = pos.delete(0)
    df = df.drop(pos)
df

,cuest_id_b,parcela,cultivo,temporary_crop,superf_parcela_has,Y,X,patca
0,276,11,pasto,0,7.545599,19.528879,-71.460136,0
1,389,11,mango,0,1.697760,18.291666,-70.325005,0
2,393,11,mango,0,4.401599,18.229546,-70.459127,0
3,466,11,NaN,0,2.483760,18.218817,-70.496776,0
4,481,11,pasto,0,5.973599,18.293560,-70.323998,0
...,...,...,...,...,...,...,...,...
628,4084,11,arroz,1,0.817440,18.729731,-70.961163,0
629,4088,11,guandul,1,1.257600,18.534755,-70.767221,0
630,4111,11,habichuela blanca,1,2.515200,18.870944,-71.566797,1
631,4111,12,pasto,0,1.886400,18.847534,-71.569126,1
632,4114,11,tomate industrial,1,3.898560,18.431298,-70.845022,0

In [37]:
df["cultivo"][df["cultivo"].isnull()]="rest field"
df = df.dropna()
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.X, df.Y))
gdf.to_file("Data_IDB/new/point_raw.shp")
# df[df.Y.isna()]
table = df.stb.freq(['patca'])
table

<ipython-input-37-f581283771b4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["cultivo"][df["cultivo"].isnull()]="rest field"

   patca  count    percent  cumulative_count  cumulative_percent
0      0    285  65.517241               285           65.517241
1      1    150  34.482759               435          100.000000

In [10]:
crs = {'init': 'epsg:4326'}
gdf = gpd.GeoDataFrame(
    df, crs=crs , geometry=gpd.points_from_xy(df.X, df.Y))
gdf.to_file(driver = 'ESRI Shapefile', filename= "Data_IDB/new/new_bl1.shp")

C:\Users\fmontenegro\Miniconda3\envs\GEE\lib\site-packages\pyproj\crs\crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [78]:
# geometry = [Point(xy) for xy in zip(df["X"], df["Y"])]
# crs = {'init': 'epsg:4326'}
# gdf = gpd.GeoDataFrame(df, crs=crs, geometry = geometry)
# gdf.to_file(driver = 'ESRI Shapefile', filename= "Data_IDB/new/new_bl2.shp")

In [ ]:
# df = new_data
# df['geometry'] = df.apply(lambda row: Point(row.X,row.Y),axis=1)
# gdf = gpd.GeoDatFrame(df, geometry = df.geometry)
# gdf.to_file(driver = 'ESRI Shapefile', filename= "Data_IDB/new/new_bl3.shp")

In [23]:
table = df.stb.freq(['cultivo'])
table
table.to_csv("table.csv")

In [ ]:
df

In [ ]:
pro = gpd.read

In [14]:
435-58

377