In [1]:
import geopandas as gpd
import pandas as pd
import glob, os
from shapely.geometry import Point
import sidetable

set directiry

In [2]:
g = os.getcwd()
g
path = 'D:\\OneDrive-CGIAR\\Workspace\\bank'
os.chdir(path)

read excel and check rows and cols

In [3]:
bs = pd.read_csv('Data_IDB/Panel data PATCA-DR - only baseline.csv', encoding='cp1252')

In [4]:
names = ['cuest_id_b', 'parcela', 'cultivo','temporary_crop', 'superf_parcela_has', 'Y', 'X', 'patca']

# making new data frame with dropped NA values 
new_data = bs[names]
new_data

,cuest_id_b,parcela,cultivo,temporary_crop,superf_parcela_has,Y,X,patca
0,276,11,pasto,0,7.545599,19.528879,-71.460136,0
1,389,11,mango,0,1.697760,18.291666,-70.325005,0
2,393,11,mango,0,4.401599,18.229546,-70.459127,0
3,466,11,NaN,0,2.483760,18.218817,-70.496776,0
4,481,11,pasto,0,5.973599,18.293560,-70.323998,0
...,...,...,...,...,...,...,...,...
628,4084,11,arroz,1,0.817440,18.729731,-70.961163,0
629,4088,11,guandul,1,1.257600,18.534755,-70.767221,0
630,4111,11,habichuela blanca,1,2.515200,18.870944,-71.566797,1
631,4111,12,pasto,0,1.886400,18.847534,-71.569126,1
632,4114,11,tomate industrial,1,3.898560,18.431298,-70.845022,0

In [8]:
cords_repY = new_data["Y"].value_counts()
# cords_repX = new_data["X"].value_counts()

In [6]:
Y = cords_repY[cords_repY>1]
# X = cords_repX[cords_repX>1]
Y = Y.index

In [7]:
cords_repY

19.396272    26
19.398208    21
18.754210     6
18.733993     5
18.713262     5
             ..
19.530600     1
19.565907     1
19.850727     1
19.390644     1
19.316800     1
Name: Y, Length: 435, dtype: int64

In [12]:
df = new_data
for i in Y:
    pos = new_data[new_data["Y"] == i].index
    pos = pos.delete(0)
    df = df.drop(pos)

In [14]:
df["cultivo"][df["cultivo"].isnull()]="rest field"
df = df.dropna()

# df

<ipython-input-14-ea9d6996e578>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["cultivo"][df["cultivo"].isnull()]="rest field"

,cuest_id_b,parcela,cultivo,temporary_crop,superf_parcela_has,Y,X,patca
0,276,11,pasto,0,7.545599,19.528879,-71.460136,0
1,389,11,mango,0,1.697760,18.291666,-70.325005,0
2,393,11,mango,0,4.401599,18.229546,-70.459127,0
3,466,11,rest field,0,2.483760,18.218817,-70.496776,0
4,481,11,pasto,0,5.973599,18.293560,-70.323998,0
...,...,...,...,...,...,...,...,...
628,4084,11,arroz,1,0.817440,18.729731,-70.961163,0
629,4088,11,guandul,1,1.257600,18.534755,-70.767221,0
630,4111,11,habichuela blanca,1,2.515200,18.870944,-71.566797,1
631,4111,12,pasto,0,1.886400,18.847534,-71.569126,1
632,4114,11,tomate industrial,1,3.898560,18.431298,-70.845022,0

In [10]:
crs = {'init': 'epsg:4326'}
gdf = gpd.GeoDataFrame(
    df, crs=crs , geometry=gpd.points_from_xy(df.X, df.Y))
gdf.to_file(driver = 'ESRI Shapefile', filename= "Data_IDB/new/new_bl1.shp")

C:\Users\fmontenegro\Miniconda3\envs\GEE\lib\site-packages\pyproj\crs\crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [78]:
# geometry = [Point(xy) for xy in zip(df["X"], df["Y"])]
# crs = {'init': 'epsg:4326'}
# gdf = gpd.GeoDataFrame(df, crs=crs, geometry = geometry)
# gdf.to_file(driver = 'ESRI Shapefile', filename= "Data_IDB/new/new_bl2.shp")

In [ ]:
# df = new_data
# df['geometry'] = df.apply(lambda row: Point(row.X,row.Y),axis=1)
# gdf = gpd.GeoDatFrame(df, geometry = df.geometry)
# gdf.to_file(driver = 'ESRI Shapefile', filename= "Data_IDB/new/new_bl3.shp")

In [23]:
table = df.stb.freq(['cultivo'])
table
table.to_csv("table.csv")

In [ ]:
df

In [ ]:
pro = gpd.read